.container {
  border: 1px solid black;
  height: 10vh;
  width: 140px;
}
.day {
  text-align: right;
  padding-right: 5px;
}
.weekend {
  color: grey;
  background-color: rgba(128, 128, 128, 0.24);
}
.event_container {
  background-color: #33b679;
  border-radius: 5px;
  text-align: center;
  color: white;
}
