.container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  gap: 10px;
}
.container_unfocussed {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  gap: 10px;
  opacity: 0.3;
}
.text {
  font-weight: 500;
}
