.container {
  margin-bottom: 15px;
}
.event {
  display: block;
  cursor: pointer;
  width: 350px;
  background-color: #33b679;
  color: white;
  border-radius: 8px;
}
.time {
  padding-left: 10px;
  font-size: 15px;
  width: 50px;
  text-align: center;
}
.text {
  text-align: center;
  font-size: 25px;
  width: 350px;
}
.delete {
  position: absolute;
  top: 40px;
  right: 20px;
  border: none;
  text-decoration: none;
  color: grey;
  background-color: #33b679;
}
.date {
  text-align: center;
  padding-left: 10px;
}
