.modal {
  display: none;
}
.modal_shown {
  display: block;
}
.date {
  margin-left: 20%;
  text-align: center;
  font-size: 20px;
  width: 50%;
  margin-bottom: 1vh;
}
.container {
  padding: 20px;
  border: 2px solid black;
}
.btn {
  position: absolute;
  top: 0px;
  right: 20px;
  border: none;
  text-decoration: none;
  color: white;
  background-color: rgba(26, 115, 232, 1);
}
.create {
  margin-top: 50px;
  margin-left: 33%;
  border: none;
  text-decoration: none;
  font-size: 16px;
  border-radius: 8px;
  color: white;
  background-color: rgba(26, 115, 232, 1);
}
